body
{
	background:black;
	background-size: cover;
	background-position: center;
	background-repeat:no-repeat;
}
a
{
	text-decoration: none;
	color:white;
}
.periodic
{
	color:black;
	font-size:2rem;
}
.periodic:hover
{
 color:WHITE;
 text-shadow: 1px 2px 2px blue, 1px 2px 2px blue, 1px 2px 2px blue;
}
.text:hover
{
	color:WHITE;
	text-shadow: 1px 2px 2px blue, 1px 2px 2px blue, 1px 2px 2px blue;
}
.name
{
	animation: animatetext 1s infinite;
}
@keyframes animatetext{
0% {text-shadow: 0 0 4px blue, 0 0 4px blue, 0 0 4px blue;}
25% {text-shadow: 0 0 4px red, 0 0 4px red, 0 0 4px red;}
50% {text-shadow: 0 0 4px blue, 0 0 4px blue, 0 0 4px blue;}
75% {text-shadow: 0 0 4px yellow, 0 0 4px yellow, 0 0 4px yellow;}
100% {text-shadow: 0 0 4px blue, 0 0 4px blue, 0 0 4px blue;}
}
.card
{
	box-shadow:0 0 10px gray, 0 0 10px gray, 0 0 10px gray;
}
